<?xml version="1.0"?>
<config>
	<modules>
		<Wsu_Opc>
			<version>0.2.0</version>
		</Wsu_Opc>
	</modules>
	<global>
		<blocks>
			<wsu_opc>
				<class>Wsu_Opc_Block</class>
			</wsu_opc>
			<customer>
				<rewrite>
					<account_dashboard_info>Wsu_Opc_Block_Customer_Account_Dashboard_Info</account_dashboard_info>
				</rewrite>
			</customer>
			<checkout>
				<rewrite>
					<onepage_link>Wsu_Opc_Block_Onepage_Link</onepage_link>
				</rewrite>
			</checkout>
		</blocks>
		<helpers>
			<wsu_opc>
				<class>Wsu_Opc_Helper</class>
			</wsu_opc>
			<checkout>
				<rewrite>
					<url>Wsu_Opc_Helper_Url</url>
				</rewrite>
			</checkout>
		</helpers>
		<models>
			<wsu_opc>
				<class>Wsu_Opc_Model</class>
				<resourceModel>opc_resource</resourceModel>
			</wsu_opc>
            <tax_resource>
                <rewrite>
                        <calculation>Wsu_Opc_Model_Resource_Tax_Calculation</calculation>
                </rewrite>
            </tax_resource>
		</models>
		<resources>
			<opc_write>
				<connection>
					<use>core_write</use>
				</connection>
			</opc_write>
			<opc_read>
				<connection>
					<use>core_read</use>
				</connection>
			</opc_read>
			<opc_setup>
				<setup>
					<module>Wsu_Opc</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</opc_setup>
		</resources>
	</global>
	<adminhtml>
		<layout>
			<updates>
				<wsu_opc>
					<file>wsu/opc.xml</file>
				</wsu_opc>
			</updates>
		</layout>
	</adminhtml>
	<frontend>
		<routers>
			<opc>
				<use>standard</use>
				<args>
					<module>Wsu_Opc</module>
					<frontName>onepage</frontName>
				</args>
			</opc>
			<checkout>
				<args>
					<modules>
						<opc before="Mage_Checkout_OnepageController">Wsu_Opc_Checkout</opc>
					</modules>
				</args>
			</checkout>
		</routers>
		<layout>
			<updates>
				<opc>
					<file>wsu/opc.xml</file>
				</opc>
			</updates>
		</layout>
		<translate>
			<modules>
				<Wsu_Opc>
					<files>
						<default>Wsu_Opc.csv</default>
					</files>
				</Wsu_Opc>
			</modules>
		</translate>
		<events>
			<sales_order_place_after>
				<observers>
					<newsletter_order_place_after>
						<class>wsu_opc/observer</class>
						<method>newsletter</method>
					</newsletter_order_place_after>
				</observers>
			</sales_order_place_after>
			<checkout_type_onepage_save_order>
				<observers>
					<checkout_type_onepage_save_order>
						<class>wsu_opc/observer</class>
						<method>applyComment</method>
					</checkout_type_onepage_save_order>
				</observers>
			</checkout_type_onepage_save_order>
			<controller_action_predispatch_checkout_onepage_index>
				<observers>
					<set_checkout_type>
						<class>wsu_opc/observer</class>
						<method>setCheckoutType</method>
					</set_checkout_type>
				</observers>
			</controller_action_predispatch_checkout_onepage_index>
			<controller_action_predispatch_checkout_index_index>
				<observers>
					<set_checkout_type>
						<class>wsu_opc/observer</class>
						<method>setCheckoutType</method>
					</set_checkout_type>
				</observers>
			</controller_action_predispatch_checkout_index_index>
		</events>
	</frontend>
	<default>
		<opc>
			<global>
				<title>Onepage Checkout</title>
				<status>1</status>
			</global>
			<default>
				<shipping>freeshipping_freeshipping</shipping>
				<payment>checkmo</payment>
				<subscribe>0</subscribe>
				<subscribe_default>0</subscribe_default>
				<show_shipping>1</show_shipping>
				<terms_type>1</terms_type>
				<comment>0</comment>
				<check_email>1</check_email>
				<discount>1</discount>
                <use_click_to_save>1</use_click_to_save>
			</default>
			<geo>
				<country>0</country>
				<country_file>GeoIP.dat</country_file>
				<city>0</city>
				<city_file>GeoLiteCity.dat</city_file>
			</geo>
		</opc>
	</default>
</config>
