<?xml version="1.0"?>
<config>
	<modules>
		<Wsu_Opc>
			<version>0.0.1</version>
		</Wsu_Opc>
	</modules>
	<global>
		<blocks>
			<wsu_opc>
				<class>Wsu_Opc_Block</class>
			</wsu_opc>
			<customer>
				<rewrite>
					<account_dashboard_info>Wsu_Opc_Block_Customer_Account_Dashboard_Info</account_dashboard_info>
				</rewrite>
			</customer>
			<checkout>
				<rewrite>
					<onepage_link>Wsu_Opc_Block_Onepage_Link</onepage_link>                   
				</rewrite>
			</checkout>
		</blocks>
		<helpers>
			<wsu_opc>
				<class>Wsu_Opc_Helper</class>
			</wsu_opc>
		</helpers>
		<models>
			<opc>
				<class>Wsu_Opc_Model</class>
				<resourceModel>opc_resource</resourceModel>
			</opc>
			<paypal>
				<rewrite>
					<api_nvp>Wsu_Opc_Model_Api_Nvp</api_nvp>
					<express>Wsu_Opc_Model_Paypal_Express</express>
					<config>Wsu_Opc_Model_Paypal_Config</config>
				</rewrite>
			</paypal>
			<opc_resource>
				<class>Wsu_Opc_Model_Resource</class>
				<entities>
					<customer>
						<table>paypalauth_customer</table>
					</customer>
				</entities>
			</opc_resource>
		</models>
		<resources>		
			<opc_write>
				<connection>
					<use>core_write</use>
				</connection>
			</opc_write>
			<opc_read>
				<connection>
					<use>core_read</use>
				</connection>
			</opc_read>
			<opc_setup>
				<setup>
					<module>Wsu_Opc</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</opc_setup>
		</resources>
	</global>
	<adminhtml>
		<layout>
			<updates>
				<wsu_opc>
					<file>wsu/opc.xml</file>
				</wsu_opc>
			</updates>
		</layout>
		<translate>
			<modules>
				<Wsu_Opc>
					<files>
						<default>Wsu_Opc.csv</default>
					</files>
				</Wsu_Opc>
			</modules>
		</translate>
		<events>
			<!--<controller_action_predispatch>
				<observers>
					<opc_check_related>
						<type>singleton</type>
						<class>opc/observer</class>
						<method>checkRequiredModules</method>
					</opc_check_related>
				</observers>
			</controller_action_predispatch>-->
		</events>
	</adminhtml>
	<frontend>
		 <routers>
			<opc>
				<use>standard</use>
				<args>
					<module>Wsu_Opc</module>
					<frontName>onepage</frontName>
				</args>
			</opc>
		</routers>
		<layout>
			<updates>
				<opc>
					<file>wsu/opc.xml</file>
				</opc>
			</updates>
		</layout>
		<translate>
			<modules>
				<Wsu_Opc>
					<files>
						<default>Wsu_Opc.csv</default>
					</files>
				</Wsu_Opc>
			</modules>
		</translate>
		<events>
			 <checkout_submit_all_after>
				<observers>
					<opc_checkout_submit_all_after>
						<class>opc/observer</class>
						<method>applyComment</method>
					</opc_checkout_submit_all_after>
				</observers>
			</checkout_submit_all_after>
			<controller_action_postdispatch_opc_json_saveOrder>
				<observers>
					<hss_save_order_onepage>
						<class>paypal/observer</class>
						<method>setResponseAfterSaveOrder</method>
					</hss_save_order_onepage>
				</observers>
			</controller_action_postdispatch_opc_json_saveOrder>
			<sales_order_place_after>
				<observers>
					<newsletter_order_place_after>
						<class>opc/observer</class>
						<method>newsletter</method>
					</newsletter_order_place_after>
				</observers>
			</sales_order_place_after>
		</events>
	</frontend>
	<default>
		<wsu_opc>
			<global>
				<status>1</status>
				<title>Checkout</title>
			</global>
			<default>
				<payment>checkmo</payment>
				<show_shipping>1</show_shipping>
				<shipping>freeshipping_freeshipping</shipping>
				<terms_type>1</terms_type>
				<comment>0</comment>
				<subscribe>0</subscribe>
				<subscribe_default>0</subscribe_default>
			</default>
			<geo>
			</geo>
			<paypal>
				<status>1</status>
				<sandbox>0</sandbox>
				<detailed>1</detailed>
			</paypal>
		</wsu_opc>
	</default>
</config>
