<?xml version="1.0"?>
<config>
	<modules>
		<Wsu_Opc>
			<version>0.0.1</version>
		</Wsu_Opc>
	</modules>
	<global>
		<blocks>
			<wsu_opc>
				<class>Wsu_Opc_Block</class>
			</wsu_opc>
		</blocks>
		<helpers>
			<wsu_opc>
				<class>Wsu_Opc_Helper</class>
			</wsu_opc>
		</helpers>
		<models>
			<opc>
				<class>Wsu_Opc_Model</class>
				<resourceModel>opc_resource</resourceModel>
			</opc>
        	<paypal>
				<rewrite>
					<api_nvp>Wsu_Opc_Model_Api_Nvp</api_nvp>
					<express>Wsu_Opc_Model_Paypal_Express</express>
					<config>Wsu_Opc_Model_Paypal_Config</config>
				</rewrite>
			</paypal>
			<opc_resource>
				<class>Wsu_Opc_Model_Resource</class>
				<entities>
	                <customer>
						<table>paypalauth_customer</table>
					</customer>
            	</entities>
        	</opc_resource>
		</models>
		<resources>		
			<opc_write>
				<connection>
					<use>core_write</use>
				</connection>
			</opc_write>
			<opc_read>
				<connection>
					<use>core_read</use>
				</connection>
			</opc_read>
			<opc_setup>
				<setup>
					<module>Wsu_Opc</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</opc_setup>
		</resources>
		<!--
		This is an example of a event hook
		<events>
			<adminhtml_controller_action_predispatch_start>
				<observers>
					<wsu_opc_admin_predispatch>
						<class>Wsu_Opc_Model_Adminhtml_Observer</class>
						<method>setTheme</method>
					</wsu_opc_admin_predispatch>
				</observers>
			</adminhtml_controller_action_predispatch_start>
		</events>-->
	</global>
	<admin>
		<routers>
			<adminhtml>
				<args>
					<modules>
						<wsu_opc before="Mage_Adminhtml">Wsu_Opc_Adminhtml</wsu_opc>
					</modules>
				</args>
			</adminhtml>
		</routers>
	</admin>
	<adminhtml>
		<layout>
			<updates>
				<wsu_opc>
					<file>wsu/opc.xml</file>
				</wsu_opc>
			</updates>
		</layout>
		<translate>
			<modules>
				<Wsu_Opc>
					<files>
						<default>Wsu_Opc.csv</default>
					</files>
				</Wsu_Opc>
			</modules>
		</translate>
	</adminhtml>
	<default>
		<wsu_opc>
			<config>
				<!--
				Some examples on the config defaults
				<theme>go</theme>
				<showmageads>0</showmageads>
				<logo>logo.gif</logo>-->
			</config>
		</wsu_opc>
	</default>
</config>
