<?xml version="1.0"?>
<config>
  <sections>
    <wsu_opc translate="label" module="wsu_opc">
      <label>One Page Checkout</label>
      <tab>utilitiestab</tab>
      <sort_order>1000</sort_order>
      <show_in_default>1</show_in_default>
      <show_in_website>1</show_in_website>
      <show_in_store>1</show_in_store>
      <groups>
        <hint>
          <frontend_model>wsu_opc/adminhtml_system_config_fieldset_hint</frontend_model>
          <sort_order>0</sort_order>
          <show_in_default>1</show_in_default>
          <show_in_website>1</show_in_website>
          <show_in_store>1</show_in_store>
        </hint>
		<global translate="label">
			<label>General</label>
			<sort_order>5</sort_order>
			<show_in_default>1</show_in_default>
			<show_in_website>1</show_in_website>
			<show_in_store>1</show_in_store>
			<expanded>1</expanded>
			<fields>
				<status>
					<label>Enable Module?</label>
					<frontend_type>select</frontend_type>
					<source_model>adminhtml/system_config_source_yesno</source_model>
					<sort_order>10</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>0</show_in_website>
					<show_in_store>0</show_in_store>
					<validate>required-entry</validate>
				</status>
				<title translate="label">
					<label>Title</label>
					<frontend_type>text</frontend_type>
					<isrequired>true</isrequired>
					<sort_order>20</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
				</title>
			</fields>
		</global>
		<default translate="label">
			<label>Default Settings</label>
			<sort_order>20</sort_order>
			<show_in_default>1</show_in_default>
			<show_in_website>1</show_in_website>
			<show_in_store>1</show_in_store>
			<expanded>1</expanded>
			<fields>
				<payment translate="label">
					<label>Default Payment Method</label>
					<frontend_type>select</frontend_type>
					<source_model>wsu_opc/system_config_source_payment_allmethods</source_model>
					<isrequired>true</isrequired>
					<sort_order>10</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
				</payment>
				<show_shipping>
					<label>Display Shipping Address Form</label>
					<frontend_type>select</frontend_type>
					<source_model>adminhtml/system_config_source_yesno</source_model>
					<isrequired>true</isrequired>
					<sort_order>20</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
				</show_shipping>
				<shipping translate="label">
					<label>Default Shipping Method</label>
					<frontend_type>select</frontend_type>
					<source_model>wsu_opc/system_config_source_shipping_allmethods</source_model>
					<isrequired>true</isrequired>
					<sort_order>30</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
				</shipping>
				<terms_type>
					<label>Terms and Conditions Output type</label>
					<frontend_type>select</frontend_type>
					<source_model>wsu_opc/system_config_source_terms</source_model>
					<isrequired>true</isrequired>
					<sort_order>40</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<comment>
						<model>wsu_opc/system_config_source_terms_comment</model>
					</comment>
				</terms_type>
				<comment>
					<label>Show comment field? </label>
					<frontend_type>select</frontend_type>
					<source_model>adminhtml/system_config_source_yesno</source_model>
					<isrequired>true</isrequired>
					<sort_order>50</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
				</comment>
				<subscribe_default>
					<label>Check Subscribe to Newsletter by default</label>
					<frontend_type>select</frontend_type>
					<source_model>adminhtml/system_config_source_yesno</source_model>
					<isrequired>true</isrequired>
					<sort_order>60</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
				</subscribe_default>
				<subscribe>
					<label>Show Subscribe to Newsletter</label>
					<frontend_type>select</frontend_type>
					<source_model>adminhtml/system_config_source_yesno</source_model>
					<isrequired>true</isrequired>
					<sort_order>70</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
				</subscribe>
				<check_email>
					<label>Check for existing email</label>
					<frontend_type>select</frontend_type>
					<source_model>adminhtml/system_config_source_yesno</source_model>
					<isrequired>true</isrequired>
					<sort_order>80</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
				</check_email>
				<form_location>
					<label>Checkout Form Location</label>
					<frontend_type>select</frontend_type>
					<source_model>wsu_opc/system_config_source_form</source_model>
					<isrequired>true</isrequired>
					<sort_order>40</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
				</form_location>
			</fields>
		</default>
		<display>
			<label>Display options</label>
			<sort_order>30</sort_order>
			<show_in_default>1</show_in_default>
			<show_in_website>1</show_in_website>
			<show_in_store>1</show_in_store>
			<expanded>1</expanded>
			<fields>
				<block_notice_update>
					<label>Block Update Notice Type</label>
					<frontend_type>select</frontend_type>
					<source_model>wsu_opc/system_config_source_notice_block_update</source_model>
					<isrequired>true</isrequired>
					<sort_order>40</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
				</block_notice_update>
			</fields>
		</display>		
		<geo>
			<label>GEO detection</label>
			<sort_order>30</sort_order>
			<show_in_default>1</show_in_default>
			<show_in_website>1</show_in_website>
			<show_in_store>1</show_in_store>
			<expanded>1</expanded>
			<fields>

			</fields>
		</geo>
		<paypal translate="label">
			<label>Paypal Express LightBox</label>
			<sort_order>40</sort_order>
			<show_in_default>1</show_in_default>
			<show_in_website>1</show_in_website>
			<show_in_store>1</show_in_store>
			<expanded>1</expanded>
			<fields>
				<status>
					<label>Enable Paypal Express Lightbox</label>
					<frontend_type>select</frontend_type>
					<source_model>adminhtml/system_config_source_yesno</source_model>
					<isrequired>true</isrequired>
					<sort_order>10</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<comment><![CDATA[<span class="notice">The site must be securely hosted on an HTTPS server.</span>]]></comment>
				</status>
				<sandbox translate="label">
					<label>Sandbox</label>
					<frontend_type>select</frontend_type>
					<source_model>adminhtml/system_config_source_yesno</source_model>
					<sort_order>20</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>							
				</sandbox>
				<detailed translate="label">
					<label>Send all info possible</label>
					<frontend_type>select</frontend_type>
					<source_model>adminhtml/system_config_source_yesno</source_model>
					<sort_order>30</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>							
				</detailed>
			</fields>
		</paypal>

      </groups>
    </wsu_opc>
	<customer>
		<groups>
			<extras translate="label">
				<label>Extra Options for OPC</label>
				<frontend_type>text</frontend_type>
				<sort_order>110</sort_order>
				<show_in_default>1</show_in_default>
				<show_in_website>1</show_in_website>
				<show_in_store>0</show_in_store>
				<fields>
					<show_company translate="label">
						<label>Show Company</label>
						<frontend_type>select</frontend_type>
						<source_model>adminhtml/system_config_source_yesno</source_model>
						<sort_order>1</sort_order>
						<show_in_default>1</show_in_default>
						<show_in_website>1</show_in_website>
						<show_in_store>0</show_in_store>
					</show_company>
				</fields>
			</extras>
		</groups>
	</customer>
  </sections>
</config>
